.sidebar{position:fixed;top:0;bottom:0;left:0;z-index:1000;border-top:0;overflow-x:hidden;overflow-y:auto;margin:0;padding:60px 0 0}
.sidebar-with-bread{top:90px}
.main .page-header{margin-top:0}
.placeholders{margin-bottom:30px;text-align:center}
.placeholders h4{margin-bottom:0}
.placeholder{margin-bottom:20px}
.placeholder img{display:inline-block;border-radius:50%}
.breadcrumb{position:fixed;width:100%}
.dataTable{width:100%}
